{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!
{% endblock %}

{% block body %}
	<div class="bg-img d-flex align-items-start">
		<div class="navbar-reduce"></div>
		<div class="main-container">
			<div>
				<img class="img-apside-robot" src="{{ asset('build/images/apside_robot.png') }}"/>
			</div>
			<div class="bubble">
				<div class="bubble-text">
					<h2 class="text-center mt-4">What language ?</h2>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'php'}) }}">PHP</a>
					</p>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'js'}) }}">JavaScript</a>
					</p>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'java'}) }}">Java</a>
					</p>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'C#'}) }}">C#</a>
					</p>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'ruby'}) }}">Ruby</a>
					</p>
					<p class="text-center">
						<a href="{{ path('feature_language', {language: 'all'}) }}">All</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
