<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/all.css">
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <img class="border-navbar" src="{{ asset('build/images/navbar_border.png') }}"/>
        {% include 'home/partials/_sidebar.html.twig' %}
        <header class="apside-header">
            <div class="search border border-1 d-flex mt-5">
                <input type="search-input" class="form-control border-0" id="search" name="search">
                <img class="loupe" src="{{ asset('build/images/loupe.png') }}">
            </div>
            <img class="apside-header-logo" src="{{ asset('build/images/logos/Apside_collab.png') }}">
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
