{% extends 'base.html.twig' %}

{% block title %}Project-type{% endblock %}

{% block body %}
<div class="d-flex align-items-start">
    <div class="navbar-reduce"></div>
    <div class="bubble">
        <div class="bubble-text">
        <h2 class="text-center mt-4">What type of project ?</h2>
            <p class="text-center"><a href="{{ path('project_list') }}">Static website</a></p>
            <p class="text-center"><a href="{{ path('project_list') }}">E-commerce site</a></p>
            <p class="text-center"><a href="{{ path('project_list') }}">Gate</a></p>
            <p class="text-center"><a href="{{ path('project_list') }}">Dynamic site</a></p>
            <p class="text-center"><a href="{{ path('project_list') }}">Content management</a></p>
        </div>
    </div>
</div>
 
{% endblock %}