{% extends 'base.html.twig' %}

{% block title %}Project-type
{% endblock %}

{% block body %}
	<div class="d-flex align-items-start">
		<div class="navbar-reduce"></div>

		<div class="main-container">

			<div>
				<img class="img-apside-robot" src="{{ asset('build/images/apside_robot_1.png') }}"/>
			</div>

			<div class="bubble">
				<div class="bubble-text">
					<h2 class="text-center mt-4">What type of project ?</h2>
					<p class="text-center">
						<a href="{{ path('project_type') }}">Static website</a>
					</p>
					<p class="text-center">
						<a href="{{ path('project_type') }}">E-commerce site</a>
					</p>
					<p class="text-center">
						<a href="{{ path('project_type') }}">Gate</a>
					</p>
					<p class="text-center">
						<a href="{{ path('project_type') }}">Dynamic site</a>
					</p>
					<p class="text-center">
						<a href="{{ path('project_type') }}">Content management</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
